// Variables
// --------------------------

$fa-font-path:         "../webfonts" !default;
$fa-font-size-base:    16px !default;
$fa-font-display:      block !default;
$fa-css-prefix:        fa !default;
$fa-version:           "5.15.4" !default;
$fa-border-color:      #eee !default;
$fa-inverse:           #fff !default;
$fa-li-width:          2em !default;
$fa-fw-width:          (20em / 16);
$fa-primary-opacity:   1 !default;
$fa-secondary-opacity: .4 !default;

// Convenience function used to set content property
@function fa-content($fa-var) {
  @return unquote("\"#{ $fa-var }\"");
}

$fa-var-angle-double-left: \f100;
$fa-var-angle-double-right: \f101;
$fa-var-angle-down: \f107;
$fa-var-angle-left: \f104;
$fa-var-angle-right: \f105;
$fa-var-angle-up: \f106;
$fa-var-arrow-down: \f063;
$fa-var-arrow-left: \f060;
$fa-var-arrow-right: \f061;
$fa-var-arrow-up: \f062;
$fa-var-bars: \f0c9;
$fa-var-caret-down: \f0d7;
$fa-var-check: \f00c;
$fa-var-check-square: \f14a;
$fa-var-chevron-circle-down: \f13a;
$fa-var-chevron-circle-left: \f137;
$fa-var-chevron-circle-right: \f138;
$fa-var-chevron-circle-up: \f139;
$fa-var-chevron-double-left: \f323;
$fa-var-chevron-double-right: \f324;
$fa-var-chevron-down: \f078;
$fa-var-chevron-left: \f053;
$fa-var-chevron-right: \f054;
$fa-var-chevron-up: \f077;
$fa-var-dot-circle: \f192;
$fa-var-edit: \f044;
$fa-var-envelope: \f0e0;
$fa-var-external-link: \f08e;
$fa-var-facebook: \f09a;
$fa-var-facebook-square: \f082;
$fa-var-file: \f15b;
$fa-var-file-alt: \f15c;
$fa-var-file-archive: \f1c6;
$fa-var-file-check: \f316;
$fa-var-file-download: \f56d;
$fa-var-file-pdf: \f1c1;
$fa-var-home: \f015;
$fa-var-instagram: \f16d;
$fa-var-instagram-square: \e055;
$fa-var-language: \f1ab;
$fa-var-link: \f0c1;
$fa-var-linkedin: \f08c;
$fa-var-linkedin-in: \f0e1;
$fa-var-minus: \f068;
$fa-var-plus: \f067;
$fa-var-quote-left: \f10d;
$fa-var-quote-right: \f10e;
$fa-var-search: \f002;
$fa-var-times: \f00d;
$fa-var-twitter: \f099;
$fa-var-twitter-square: \f081;
$fa-var-user: \f007;
$fa-var-youtube: \f167;
$fa-var-youtube-square: \f431;
