{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 * - file_url: File generated public download URL.
 * - file_type: File MIME type
 * - file_type_classes: Array of File MIME type css classes
 * - file_size: File size formatted in text
 *
 * @see template_preprocess_media()
 */
#}
<article{{ attributes }}>
  {{ title_suffix.contextual_links }}
  {% if content %}
  <div{{ content_attributes.addClass(file_type_classes) }}>
    <a href="{{ file_url }}" type="{{ file_type }}" target="_blank">{{ name }} ({{ file_size }})</a>
  </div>
  {% endif %}
</article>
