{#
/**
 * @file
 * Theme override to display a single page.
 *
 * The doctype, html, head and body tags are not in this template. Instead they
 * can be found in the html.html.twig template in this directory.
 *
 * Available variables:
 *
 * General utility variables:
 * - base_path: The base URL path of the Drupal installation. Will usually be
 *   "/" unless you have installed Drupal in a sub-directory.
 * - is_front: A flag indicating if the current page is the front page.
 * - logged_in: A flag indicating if the user is registered and signed in.
 * - is_admin: A flag indicating if the user has permission to access
 *   administration pages.
 *
 * Site identity:
 * - front_page: The URL of the front page. Use this instead of base_path when
 *   linking to the front page. This includes the language domain or prefix.
 *
 * Page content (in order of occurrence in the default page.html.twig):
 * - messages: Status and error messages. Should be displayed prominently.
 * - node: Fully loaded node, if there is an automatically-loaded node
 *   associated with the page and the node ID is the second argument in the
 *   page's path (e.g. node/12345 and node/12345/revisions, but not
 *   comment/reply/12345).
 *
 * Regions:
 * - page.brand: Logo and project brand.
 * - page.taskbar: Taskbar with additional tools for all website users.
 * - page.navigation: Menus and tools to navigate the site.
 * - page.system: Tools and messages from the system.
 * - page.content: The main content of the current page.
 * - page.ctas: Elements to call to action.
 * - page.index: Items for the footer region.
 * - page.signature: Items for the site signature.
 * - page.modals: Modal screens, such as the Search.
 *
 * @see template_preprocess_page()
 * @see html.html.twig
 */
#}
{%
    set layoutClasses = [
      'layout-container',
      logged_in ? 'is-logged-in',
      is_front ? 'is-frontpage',
      has_content_table ? 'is-brochure',
      'page--' ~ page_name|clean_class,
      'page--taxonomy-term'
    ]
  %}
  <div{{ attributes.addClass(layoutClasses) }}>
  
    <header role="banner" class="header__wrapper" aria-label="{{ 'Website header'|t }}">
      <div class="header">
        {# Page brand #}
        <div class="brand__wrapper">
          {{ page.brand }}
        </div>
        {# Collapsible navigation menu #}
        <nav class="navbar__wrapper" id="navigationMenu" aria-label="{{ 'Navigation menu'|t }}">
          <div class="navbar__elements">
            <div class="taskbar__wrapper navbar__row">
              {{ page.taskbar }}
            </div>
            <div class="navigation__wrapper navbar__row">
              {{ page.navigation }}
            </div>
          </div>
        </nav>
        {# Navigation menu colapse control #}
        <div class="navbar__toggler">
          <button class="navbar-toggler" type="button" aria-controls="navigationMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        {# Content table clone #}
        {% if has_content_table %}
        <div class="navigation__brochure-contents" aria-hidden="true">
          <div class="navigation__content-title"></div>
          <div class="navigation__content-table"></div>
        </div>
        {% endif %}
      </div>
    </header>
  
    <main role="main" class="main" aria-label="{{ 'Website main content'|t }}">
      <div class="main__wrapper">
        <div class="system__wrapper">
        {% if page.help %}
          {{ page.help }}
        {% endif %}
          {{ page.system }}
        </div>
  
        <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
  
        <div class="content__wrapper">
          {{ page.content }}
        </div>
      </div>
    </main>
  
    <footer class="footer" role="contentinfo" aria-label="{{ 'Website footer'|t }}">
      <div class="footer__inner-wrapper">
        <div class="footer__upper-row">
          <div class="footer__main-column">
            <div class="footer__ctas">
              <div class="ctas__wrapper">
                {{ page.ctas }}
              </div>
            </div>
          </div>
          <div class="footer__side-column">
            <div class="footer__index">
              <div class="index__wrapper">
                {{ page.index }}
              </div>
            </div>
          </div>
        </div>
        <div class="footer__lower-row">
          <div class="footer__signature">
            <div class="signature__wrapper">
              {{ page.signature }}
            </div>
          </div>
        </div>
      </div>
    </footer>
  
    <div aria-hidden="true">
      {{ page.modals }}
    </div>
  
  </div>{# /.layout-container #}
  