///////////////////////////////////////
//  Variables for visual parameters  //
///////////////////////////////////////

$m3-roundness-soft: 8px;

$m3-roundness-hard: 4px;

$m3-layout-identation: 8.333%;

$m3-embed-video-ratio: 56.25%; // Aspect ratio 16:9 (9 / 16 -> 0.5625; Height in relation to width)

$m3-header-offset: 133px;

$m3-header-offset--mobile: 164px;

$m3-footer-offset: 137px;

$m3-footer-offset--mobile: 197px;

$m3-labels-column-max-width: 420px;

$m3-pop-up-menu-min-width: 240px;

$m3-restricted-content-column-max-width: 700px;

$m3-assets-dir: "/profiles/contrib/matrushka-standard-cms/themes/custom/m3_custom_theme/assets";