{#
/**
 * @file
 * Theme override for freeform node.
 *
 * Add here custom HTML to display using the contents defined in the node with the given code.
 *
 * Template name should be: node--freeform--CODE.html.twig
 *
 * CODE should not use spaces or underscores. Either on its definition or in the template name.
 *
 * Only codes for Freeform contents (CONTENT-CODES) can use slashes.
 *
 * Available variables:
 * - freeform: the freeform data fetched
 *  - contents: the freeform data fetched
 *    - CONTENT-CODE: Freeform content code used in the node, can use underscores
 *      - entity: Freeform content paragraph entity
 *      - content: Freeform content paragraph entity contents (as provided by drupal display configuration)
 *  - code: Freeform code
 *  - node: Freeform node
 *  - nid: Freeform nid
 */
#}

{# Include this import to use freeformMacros on your template #}
{% import '@m3_freeform/macros.twig' as freeformMacros %}

<div class="contact-us">
    <div class="contact-us__title">
        <h1 class="contact-us__title-h") }}>{{ label }}</h1>
    </div>
    <div class="contact-us__intro">
        <div class="contact-us__intro-brief">
            {{ freeformMacros.freeformText('contact-form-brief', freeform) }}
        </div>
        <div class="contact-us__intro-body">
            {{ freeformMacros.freeformText('contact-form-body', freeform) }}
        </div>
    </div>
    <div class="contact-us__form">
        {{ drupal_form('\\Drupal\\m3_custom_blocks\\Form\\ContactUs') }}
    </div>
</div>