{#
/**
 * @file
 * Theme override for freeform node.
 *
 * Add here custom HTML to display using the contents defined in the node with the given code.
 *
 * Template name should be: node--freeform--CODE.html.twig
 *
 * CODE should not use spaces or underscores. Either on its definition or in the template name.
 *
 * Only codes for Freeform contents (CONTENT-CODES) can use slashes.
 *
 * Available variables:
 * - freeform: the freeform data fetched
 *  - contents: the freeform data fetched
 *    - CONTENT-CODE: Freeform content code used in the node, can use underscores
 *      - entity: Freeform content paragraph entity
 *      - content: Freeform content paragraph entity contents (as provided by drupal display configuration)
 *  - code: Freeform code
 *  - node: Freeform node
 *  - nid: Freeform nid
 */
#}

{# Include this import to use freeformMacros on your template #}
{% import '@m3_freeform/macros.twig' as freeformMacros %}

<div class="page-403">
  <div class="page-403__header">
    <h2 class="page-403__title">
      403
      <br>
      {{ freeformMacros.freeformText('title', freeform) }}
    </h2>
    <div class="page-403__subtitle">
      {{ freeformMacros.freeformText('sub-title', freeform) }}
    </div>
  </div>
  <div class="page-403__body">
    {{ freeformMacros.freeformText('body', freeform) }}
  </div>
  <div class="page-403__footer"></div>
</div>