///////////////////////////
// Custom Layouts styles //
///////////////////////////

@import "polyfills";

.field--widget-layout-paragraphs {
    .content-layout {}

    .content-layout__columns-row {
        display: flex;
        margin-right: -15px;
        margin-left: -15px;
    }

    .content-layout__column {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    .content-layout__column-a {
        @extend .content-layout__column;
    }

    .content-layout__column-b {
        @extend .content-layout__column;
    }

    .content-layout__column-c {
        @extend .content-layout__column;
    }

    .content-layout__column-d {
        @extend .content-layout__column;
    }

    .content-layout--columns-vertical-alingment-top {
        .content-layout__columns-row {
            align-items: flex-start;
        }
    }

    .content-layout--columns-vertical-alingment-middle {
        .content-layout__columns-row {
            align-items: center;
        }
    }

    .content-layout--columns-vertical-alingment-bottom {
        .content-layout__columns-row {
            align-items: flex-end;
        }
    }

    .content-layout--columns-flow-ascendant {
        .content-layout__columns-row {
            flex-direction: row;
        }
    }

    .content-layout--columns-flow-descendant {
        .content-layout__columns-row {
            flex-direction: row-reverse;
        }
    }

    // Render modes

    .content-layout--render-wide,
    .content-heading--render-wide {
        margin: 0 0%;
    }

    .content-layout--render-contained,
    .content-heading--render-contained {
        margin: 0 10%;
    }

    .content-layout--render-indented,
    .content-heading--render-indented {
        margin: 0 20%;
    }

    // Single column

    .content-layout--one-column {}


    // Two columns

    .content-layout--two-columns {
        .field-content-column-a,
        .field-content-column-b {
            width: 100%
        }
    }

    .content-layout--two-columns.content-layout--columns-width-balanced {   
        .content-layout__column {
            width: 50%;
        }
    }

    .content-layout--two-columns.content-layout--columns-width-a-wider {
        .content-layout__column-a {
            width: 65%;
        }
        
        .content-layout__column-b {
            width: 35%;
        }
    }

    .content-layout--two-columns.content-layout--columns-width-b-wider {
        .content-layout__column-a {
            width: 35%;
        }
        
        .content-layout__column-b {
            width: 65%;
        }
    }


    // Triple column

    .content-layout--three-columns {
        .field-content-column-a,
        .field-content-column-b,
        .field-content-column-c {
            width: 100%
        }
    }

    .content-layout--three-columns.content-layout--columns-width-balanced {   
        .content-layout__column {
            width: 33.33%;
        }
    }

    .content-layout--three-columns.content-layout--columns-width-a-wider {
        .content-layout__column-a {
            width: 46%;
        }
        
        .content-layout__column-b {
            width: 27%;
        }

        .content-layout__column-c {
            width: 27%;
        }
    }

    .content-layout--three-columns.content-layout--columns-width-b-wider {
        .content-layout__column-a {
            width: 27%;
        }
        
        .content-layout__column-b {
            width: 46%;
        }

        .content-layout__column-c {
            width: 27%;
        }
    }

    .content-layout--three-columns.content-layout--columns-width-c-wider {
        .content-layout__column-a {
            width: 27%;
        }
        
        .content-layout__column-b {
            width: 27%;
        }

        .content-layout__column-c {
            width: 46%;
        }
    }


    // Four columns

    .content-layout--four-columns {
        .field-content-column-a,
        .field-content-column-b,
        .field-content-column-c,
        .field-content-column-d {
            width: 100%
        }
    }

    .content-layout--four-columns.content-layout--columns-width-balanced {   
        .content-layout__column {
            width: 25%;
        }
    }
}