{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}
{{ attach_library('m3_base_theme/universal-toggler') }}

{#
  We call a macro which calls itself to render the full tree.
  @see http://twig.sensiolabs.org/doc/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0, menu_name, 'menu') }}

{% macro menu_links(items, attributes, menu_level, menu_name, extra_classes) %}
  {% import _self as menus %}
  {% if items %}
    <ul{{ attributes.setAttribute('aria-label', menu_name ~ ' menu'|t).setAttribute('aria-level', menu_level + 1).addclass('menu-level-' ~ menu_level).addclass(extra_classes) }}>
    {% for item in items %}
      <li{{ item.attributes.addclass('menu__item') }}>
        {% if item.below %}
          {{ link(item.title, item.url, {'class': 'menu__submenu-toggler','data-toggle-list': 'is-open', 'data-toggle-override-action': 'true', 'data-toggle-unique-among-siblings': 'true'}) }}
          {% set submenu_attributes = create_attribute() %}
          {{ menus.menu_links(item.below, submenu_attributes, menu_level + 1, item.title, 'menu__submenu') }}
        {% else %}
          {{ link(item.title, item.url) }}
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}
