/**
* Styles to override admin template default styles
**/

.cke_combopanel {
  width: 300px !important;
}

.cke_dialog_body {
  background: #e0e0d8 !important;
  border-radius: 8px !important;
}

.layout-region--node-main .layout-region__content {
  max-width: unset;
}

/* Layout paragraphs */

.layout-paragraphs-dialog {
  width: 70% !important;
  /* height: 80vh !important; */
  max-width: 800px !important;
  top: 10vh !important;
  left: 0px !important;
  right: 0px !important;
  margin: 0 auto !important;
}

/* Custom Styles */

.content-item__placeholder {}

.content-item__icon img {
  width: 100%;
  max-width: 120px;
  margin: 0 auto;
  margin-bottom: 12px;
  display: block;
}

.content-item__label {
  margin-top: 0;
  font-size: 1.2rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content-item__label * {
  display: inline;
}