{#
/**
 * @file
 * Theme override for freeform block.
 *
 * Add here custom HTML to display using the contents defined in the node with the given code.
 *
 * Template name should be: freeform--CODE.html.twig
 *
 * CODE should not use spaces or underscores. Either on its definition or in the template name.
 *
 * Only codes for Freeform contents (CONTENT-CODES) can use slashes.
 *
 * Available variables:
 * - freeform: the freeform data fetched
 *  - contents: the freeform data fetched
 *    - CONTENT-CODE: Freeform content code used in the node, can use underscores
 *      - entity: Freeform content paragraph entity
 *  - code: Freeform code
 *  - node: Freeform node
 *  - nid: Freeform nid
 */
#}

{{ attach_library('m3_base_theme/search-modal') }}

<button class="navigation__search-button js-navigation-search-button" aria-hidden="true" href="/search"><i class="icon"></i></button>
<a class="sr-only" href="/search">Search</a>
