{#
/**
 * @file
 * Theme override for freeform block.
 *
 * Add here custom HTML to display using the contents defined in the node with the given code.
 *
 * Template name should be: freeform--CODE.html.twig
 *
 * CODE should not use spaces or underscores. Either on its definition or in the template name.
 *
 * Only codes for Freeform contents (CONTENT-CODES) can use slashes.
 *
 * Available variables:
 * - freeform: the freeform data fetched
 *  - contents: the freeform data fetched
 *    - CONTENT-CODE: Freeform content code used in the node, can use underscores
 *      - entity: Freeform content paragraph entity
 *  - code: Freeform code
 *  - node: Freeform node
 *  - nid: Freeform nid
 */
#}

{{ attach_library('m3_base_theme/back-to-top-button') }}

<div class="block--back-to-top-button back-to-top-button">
  <div class="block__inner">
    <a href="#" class="block__action back-to-top-button__button" title="Go back to top">
      <i class="fas fa-chevron-up"></i>
    </a>
  </div>
</div>