{#
/**
 * @file
 * Default theme implementation to display a paragraph.
 *
 * Available variables:
 * - paragraph: Full paragraph entity.
 *   Only method names starting with "get", "has", or "is" and a few common
 *   methods such as "id", "label", and "bundle" are available. For example:
 *   - paragraph.getCreatedTime() will return the paragraph creation timestamp.
 *   - paragraph.id(): The paragraph ID.
 *   - paragraph.bundle(): The type of the paragraph, for example, "image" or "text".
 *   - paragraph.getOwnerId(): The user ID of the paragraph author.
 *   See Drupal\paragraphs\Entity\Paragraph for a full list of public properties
 *   and methods for the paragraph object.
 * - content: All paragraph items. Use {{ content }} to print them all,
 *   or print a subset such as {{ content.field_example }}. Use
 *   {{ content|without('field_example') }} to temporarily suppress the printing
 *   of a given child element.
 * - attributes: HTML attributes for the containing element.
 *   The attributes.class element may contain one or more of the following
 *   classes:
 *   - paragraphs: The current template type (also known as a "theming hook").
 *   - paragraphs--type-[type]: The current paragraphs type. For example, if the paragraph is an
 *     "Image" it would result in "paragraphs--type--image". Note that the machine
 *     name will often be in a short form of the human readable label.
 *   - paragraphs--view-mode--[view_mode]: The View Mode of the paragraph; for example, a
 *     preview would result in: "paragraphs--view-mode--preview", and
 *     default: "paragraphs--view-mode--default".
 * - view_mode: View mode; for example, "preview" or "full".
 * - logged_in: Flag for authenticated user status. Will be true when the
 *   current user is a logged-in member.
 * - is_admin: Flag for admin user status. Will be true when the current user
 *   is an administrator.
 * - card_style: stores the key for the selected card style
 * - linked_content: Stores the link to content URL
 * - cover_image:
 *      - path: Stores the styled url for the cover image
 *
 * @see template_preprocess_paragraph()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    'content-item',
    'content-item--card-with-link',
    'content-item--card-style-' ~ card_style
  ]
%}
{% block paragraph %}
  <article{{ attributes.addClass(classes) }}>
    <a href="{{ linked_content }}" class="card-link">
    {% block content %}
    <div class="content-card content-card--card-with-link">
      <div class="content-card__inner">
        <div class="content-card__picture" style="background-image: url('{{ cover_image.path }}');"></div>
        <div class="content-card__content">
            <div class="content-card__header">
              <h2 class="content-card__title">{{ content.field_card_title }}<i class="icon"></i></h2>
            </div>
            <div class="content-card__body">
              <div class="content-card__brief">{{ brief_stripped }}</div>
            </div>
        </div>
      </div>
    </div>
    {% endblock %}
    </a>
  </article>
{% endblock paragraph %}
  