{#
/**
 * @file
 * Theme override to display a m3-two-column layout.
 *
 * Available variables:
 * - content: The content for this layout.
 * - attributes: HTML attributes for the layout <div>.
 */
#}
{%
  set classes = [
    'layout',
    'layout--m3-two-column',
    'content-layout',
    'content-layout--two-columns',
    'content-layout--columns-width-a-wider'
  ]
%}
{% if content %}
  {{ attach_library('m3_page_builder/m3_custom_layouts') }}
  <div{{ attributes.addClass(classes) }}>
    <div class="layout__content content-layout__columns-row">
    {% if content.column_a %}
      <div {{ region_attributes.column_a.addClass('layout__region', 'layout__region--column_a content-layout__column-a') }}>
        {{ content.column_a }}
      </div>
    {% else %}
      <div class="layout__region layout__region--column_a content-layout__column-a"></div>
    {% endif %}

    {% if content.column_b %}
      <div {{ region_attributes.column_b.addClass('layout__region', 'layout__region--column_b content-layout__column-b') }}>
        {{ content.column_b }}
      </div>
    {% else %}
      <div class="layout__region layout__region--column_b content-layout__column-b"></div>
    {% endif %}
    </div>
  </div>
{% endif %}
