////////////////////////
//  Animation Mixins  //
////////////////////////

// Keyframe: The animation to execute
// Duration: The time-length of the animation

@mixin animate($keyframe, $duration) {
  -webkit-animation-name: $keyframe; /* Chrome, Safari, Opera */
  -webkit-animation-duration: $duration; /* Chrome, Safari, Opera */
  animation-name: $keyframe;
  animation-duration: $duration;
}

// Count: Number of executions, or Infinite; default 1
// Posible Directions
// normal | reverse | alternate | alternate-reverse | initial | inherit

@mixin animateCicle($count, $direction) {
  -webkit-animation-iteration-count: $count;
  -webkit-animation-direction: $direction;
  animation-iteration-count: $count;
  animation-direction: $direction;
}

// keyframe generator
@mixin newKeyframe($keyframeName) {
  @keyframes #{$keyframeName} {
    @content;
  }
  @-webkit-keyframes #{$keyframeName} {
    @content;
  }
}
