///////////////////////////////////////////////////
//  Font families load and configuration Mixins  //
///////////////////////////////////////////////////

@mixin m3-font-family-loader() {
  @import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Playfair+Display&display=swap');
}

@mixin m3-body-family(){
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

@mixin m3-display-family(){
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

@mixin m3-decorative-family(){
  font-family: 'Playfair Display', serif;
  font-weight: 400;
}