//////////////////////////////////////
//  Font-Awesome Icon style Mixins  //
//////////////////////////////////////

@mixin iconize(
  $iconClass: "",
  $iconSize: $t-06,
  $iconStyle: "far"
) {
  @extend .#{$iconStyle}, .#{$iconClass};
  @include square($iconSize);
  display: block;
  text-align: center;

  &:before {
    font-size: $iconSize;
    line-height: $iconSize;
  }
}


@mixin appendIcon(
  $iconClass:"",
  $iconSize: $t-06,
  $iconStyle: "far"
) {
  @extend .#{$iconClass};
  padding-left: $iconSize * 1.5;
  position: relative;

  &:before {
    @extend .#{$iconStyle};
    height: $iconSize;
    @include centerThis(left);
    font-size: $iconSize;
    line-height: $iconSize;
  }
}


@mixin preppendIcon(
  $iconClass:"",
  $iconSize: $t-06,
  $iconStyle: "far"
) {
  @extend .#{$iconClass};
  padding-right: $iconSize * 1.5;
  position: relative;

  &:before {
    @extend .#{$iconStyle};
    height: $iconSize;
    @include centerThis(right);
    font-size: $iconSize;
    line-height: $iconSize;
  }
}
