////////////////////////////
//  Layout useful Mixins  //
////////////////////////////

@mixin m3-container() {
  @include make-container;
  @each $breakpoint, $container-max-width in $container-max-widths {
    @include media-breakpoint-up($breakpoint, $grid-breakpoints) {
      max-width: $container-max-width;
    }
  }
}

@mixin m3-row() {
  @include make-row;
}

@mixin m3-col($grid-columns: auto, $breakpoint: none) {
  @include make-col-ready;
  @if $grid-columns == auto {
    @include make-col-auto();
  } @else {
    @if $breakpoint == none {
      @include make-col($grid-columns);
    } @else {
      @include media-breakpoint-up($breakpoint) {
        @include make-col($grid-columns);
      }
    }
  }
}

@mixin m3-img-fluid() {
  max-width: 100%;
  height: auto;
}

@mixin centerThis($pasteTo:"") {
  position: absolute;
  @if $pasteTo != "bottom" {
    top: 0;
  }
  @if $pasteTo != "top" {
    bottom: 0;
  }
  @if $pasteTo != "left" {
    right: 0;
  }
  @if $pasteTo != "right" {
    left: 0;
  }
  margin: auto;
}
  