/////////////////////////////
//  Styling useful Mixins  //
/////////////////////////////

@mixin border-rounded($roundness: $m3-roundness-soft){
  border-radius: $roundness;
}

@mixin square($side: $spacer-md) {
  width: $side;
  height: $side;
}