/////////////////////////////
//  User Interface Mixins  //
/////////////////////////////

@mixin m3-button(
  $background: $primary,
  $border: transparent,
  $color: $light,
  $size: $t-04,
  $padding-vertical: $spacer-xxs,
  $padding-horizontal: $spacer-sm,
  $roundness: $m3-roundness-soft
) {
  @include button-variant($background, $border, $color);
  @include border-rounded($roundness);
  display: inline-block;
  font-size: $size;
  font-weight: 400;
  line-height: $size * 1.5;
  padding: $padding-vertical $padding-horizontal;
  border-style: solid;
  border-width: $spacer-xxs;
  transform: scale(1);
  transition: transform 0.2s;

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:active:hover {
    transform: scale(0.95);
  }
}

@mixin m3-icon-button(
  $iconClass: 'fa-external-link',
  $size: $t-04,
  $iconStyle: 'far',
  $color: $primary
) {
  @include button-variant(transparent, transparent, $color);
  @include iconize($iconClass, $size, $iconStyle);
  margin: 0;
  padding: 0;
  padding-left: $size;
  overflow: hidden;
  position: relative;

  &:before {
    @include centerThis();
  }
}