{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
	set classes = [
    'block',
    'block--' ~ plugin_id|clean_class,
    'block--' ~ configuration.label|clean_class,
    'language-switcher'
  ]
%}

{# Attaching js controller #}
{{ attach_library('m3_base_theme/language-switcher') }}
 
<div{{ attributes.addClass(classes) }}>
  <div class="language-switcher__inner">
    {# If only two languages are enabled, use this line instead of the rest of the child elements inside this div and uncomment the correspondant preprocess function in theme.module file #}
    {# <a href="{{ language.alternative_url }}" class="language-switcher__toggle-button" id="language_switcher_button">{{ language.alternative }}</a> #}
    <button class="language-switcher__toggle-button" id="language_switcher_button" aria-label="Language Switcher"><i class="icon"></i></button>
    {% block content %}
    <div class="block__content language-switcher__dropdown is-hidden">
      {{ content }}
    </div>
    {% endblock %}
  </div>
</div>
