///////////////////////
//  403 page styles  //
///////////////////////

.page-403 {
  @include m3-container;
  background: url("#{$m3-assets-dir}/img/403-bg.svg") no-repeat top right;
  background-size: 350px;
  padding-top: $spacer-md;
  padding-left: 100px;
}

.page-403__header,
.page-403__body {
  padding-right: 350px;
}

.page-403__title {
  @extend %m3-title-lg;
  font-size: 5rem;
  line-height: 1.25;
}

.page-403__subtitle {
  @extend %m3-featured;
  margin-top: $spacer-md;
  margin-bottom: $spacer-md;
}

.page-403__footer {
  margin-top: $spacer-xl;
  margin-bottom: $spacer-xxl;
}

@include media-breakpoint-down(md) {
  .page-403 {
    padding: $spacer-sm $spacer-xs;
  }
}

@include media-breakpoint-down(sm) {
  .page-403__header,
  .page-403__body {
    padding-right: 0;
  }

  .page-403__title {
    font-size: 3rem;
  }
}