///////////////////////////////////////////
//  Styles for the Blog post full nodes  //
///////////////////////////////////////////

.node--blog_post--full {
  .content__header {
    @extend %m3-indented-column;
    @include m3-container;
  }

  .content__title {
    margin-top: $spacer-md;
    margin-bottom: $spacer-md;
    margin-right: 5%;
  }

  .content__title-h {
    @extend %m3-title-lg;
    margin: 0;
  }

  .content__brief {
    @extend %m3-featured, %m3-indented-column;
    @include m3-container;
    margin-bottom: $spacer-md;
  }

  .content__footer {
    margin-top: $spacer-xl;
  }

  .content__related {
    @include m3-container;
    max-width: 850px !important;
  }

  .field-author {
    display: inline;
  }

  .field-related-posts {
    @include m3-row;
  }

  .field-related-posts__item {
    @include m3-col(6,'lg');
    padding-bottom: $spacer-lg;

    .node--card {
      display: flex;
      justify-content: center;
    }
  }
}

// Responsive styles

@include media-breakpoint-down(md) {
  .node--blog_post--full {
    .content__footer {
      &:before {
        height: 75%;
      }
    }
  }
}