//////////////////////////////////
//  Styles to aply on CKeditor  //
//////////////////////////////////

.cke_editable_themed {
  @extend %m3-text-styled;
  padding: 1em;

  img {
    max-width: 800px;
  }

  .featured-image-wrapper {
    margin: -1em;
  }

  .embed-entity {
    background-color: $m3-gray-100;
    border-radius: 10px;
    border: 1px solid $m3-gray-300;
    text-align: center;
    padding: 30px;
    margin: 30px 0;
  }
  
  .embed-entity__label {
    color: $m3-gray-300;
    font-weight: bold;
    font-size: $t-03;
    text-transform: uppercase;
  }

  .views-entity-embed {
    @extend .embed-entity, .embed-entity__label;

    .view-content,
    .more-link {
      display: none;
    }
  }
}

// Override styles for items in style selector
.cke_panel_listItem {
  div, h1, h2, h3, h4, h5, h6, p {
    padding: 5px 10px !important;
    margin: 0 !important;
    font-size: $t-03 !important;
    text-align: left !important;
  }
}