//////////////////////////////////////
//  Styles for the contact us form  //
//////////////////////////////////////

.contact-us {
  @include m3-container;
}

.contact-us__title {
  padding: 0 30px;
  margin: 60px 0;
}

.contact-us__title-h {
  @extend %m3-title-lg;
  margin: 0;
}

.contact-us__intro {
  @extend %m3-text-styled;
  padding: 0 30px;
}

.contact-us__intro-brief {
  margin-bottom: 30px;
}

.contact-us__intro-body {
  margin-bottom: 60px;
}

.contact-us__form {
  @extend %m3-rounded-border;
  margin-bottom: 60px;

  .fields-container {
    @include m3-row;

    .form-item {
      @include m3-col(12);
    }

    .form-item-name,
    .form-item-email {
      @include m3-col(6,'md');
    }
  }
}