//////////////////////////////////////
//  Styles for the page full nodes  //
//////////////////////////////////////

// Headings

.content-heading {
  margin-top: $spacer-lg;
  margin-bottom: $spacer-md;
}

.content-heading__title {
  @extend %m3-title-md;
  margin: 0;
}

.content-heading--render-hidden {
  .content-heading__title {
    display: none;
  }
}


// Global layout item

.content-layout {
  padding-top: $spacer-sm;
  padding-bottom: $spacer-sm;
}

.content-layout--style-light {
  background-color: $light;
  color: $dark;
}

.content-layout--style-dark {
  background-color: $dark;
  color: $light;
}

.content-layout__columns-row {
  @include m3-row;
}

.content-layout__column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.content-layout__column-a {
  @extend .content-layout__column;
}

.content-layout__column-b {
  @extend .content-layout__column;
}

.content-layout__column-c {
  @extend .content-layout__column;
}

.content-layout__column-d {
  @extend .content-layout__column;
}

.content-layout--columns-vertical-alingment-top {
  .content-layout__columns-row {
    align-items: flex-start;
  }
}

.content-layout--columns-vertical-alingment-middle {
  .content-layout__columns-row {
    align-items: center;
  }
}

.content-layout--columns-vertical-alingment-bottom {
  .content-layout__columns-row {
    align-items: flex-end;
  }
}

.content-layout--columns-flow-ascendant {
  .content-layout__columns-row {
    flex-direction: row;
  }
}

.content-layout--columns-flow-descendant {
  .content-layout__columns-row {
    flex-direction: row-reverse;
  }
}

// Render modes

.content-layout--render-wide,
.content-heading--render-wide {
  @include make-container;
}

.content-layout--render-contained,
.content-heading--render-contained {
  @include m3-container;
}

.content-layout--render-indented,
.content-heading--render-indented {
  @extend %m3-indented-column;
  @include m3-container;

  .content-layout__columns-row {
    @extend %m3-indented-column__row;
  }
}


// Single column

.content-layout--one-column {
  .content-layout__column-a {
    @include m3-col(12);
  }
}


// Two columns

.content-layout--two-columns {
  .field-content-column-a,
  .field-content-column-b {
    width: 100%
  }

  &.content-layout--render-wide {
    @include make-container;
  }
}

.content-layout--two-columns.content-layout--columns-width-balanced {   
  .content-layout__column {
    @include m3-col(6,'md');
  }
}

.content-layout--two-columns.content-layout--columns-width-a-wider {
  .content-layout__column-a {
    @include m3-col(8,'md');
  }
    
  .content-layout__column-b {
    @include m3-col(4,'md');
  }
}

.content-layout--two-columns.content-layout--columns-width-b-wider {
  .content-layout__column-a {
    @include m3-col(4,'md');
  }
  
  .content-layout__column-b {
    @include m3-col(8,'md');
  }
}


// Triple column

.content-layout--three-columns {
  .field-content-column-a,
  .field-content-column-b,
  .field-content-column-c {
    width: 100%
  }

  &.content-layout--render-wide {
    @include make-container;
  }
}

.content-layout--three-columns.content-layout--columns-width-balanced {   
  .content-layout__column {
    @include m3-col(4,'md');
  }
}

.content-layout--three-columns.content-layout--columns-width-a-wider {
  .content-layout__column-a {
    @include m3-col(6,'md');
  }
    
  .content-layout__column-b {
    @include m3-col(3,'md');
  }

  .content-layout__column-c {
    @include m3-col(3,'md');
  }
}

.content-layout--three-columns.content-layout--columns-width-b-wider {
  .content-layout__column-a {
    @include m3-col(3,'md');
  }
    
  .content-layout__column-b {
    @include m3-col(6,'md');
  }

  .content-layout__column-c {
    @include m3-col(3,'md');
  }
}

.content-layout--three-columns.content-layout--columns-width-c-wider {
  .content-layout__column-a {
    @include m3-col(3,'md');
  }
  
  .content-layout__column-b {
    @include m3-col(3,'md');
  }

  .content-layout__column-c {
    @include m3-col(6,'md');
  }
}


// Cuadruple columns

.content-layout--four-columns {
  .field-content-column-a,
  .field-content-column-b,
  .field-content-column-c,
  .field-content-column-d {
    width: 100%
  }

  &.content-layout--render-wide {
    @include make-container;
  }
}

.content-layout--four-columns.content-layout--columns-width-balanced {   
  .content-layout__column {
    @include m3-col(3,'md');
  }
}


// Content Canvas
.paragraph--type--freeform-content-canvas {
  @extend %m3-text-styled;
}


// Embed Image

.content-item--embed-image {
  .embed-image__img {
    img {
      display: block;
      margin: 0 auto;
    }
  }
}


// Embed Video

.content-item--embed-video {
  margin-top: $spacer-sm;
  margin-bottom: $spacer-sm;

  .field-media-oembed-video {
    width: 100%;
    padding-top: $m3-embed-video-ratio;
    position: relative;

    & > iframe {
      @extend .m3-iframes;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
    }
  }
}


// Embed card styles
.content-item--embed-resource,
.content-item--embed-blog-post,
.content-item--card-with-link {
  @extend %m3-card-socket, %m3-card-socket--content-card;

  &.content-item--card-style-horizontal {
    .content-card {
      @extend %content-card--horizontal;
    }
  }

  &.content-item--card-style-large {
    .content-card {
      @extend %content-card--large;
    }
  }

  &.content-item--card-style-regular {
    .content-card {
      @extend %content-card--regular;
    }
  }

  &.content-item--card-style-minimal {
    .content-card {
      @extend %content-card--minimal;
    }
  }
}


// Slider and Carrousel

.content-item--slider {
  .paragraph__content {
    margin: $spacer-sm 0;
  
    .slick-track {
      display: flex;
      align-items: center;
    }

    .content-item--rich-text {
      padding-right: $spacer-md;
      padding-left: $spacer-md;
    }
  }
}

.content-item--logo-carrousel {
  .paragraph__content {
    margin: $spacer-sm 0;

    .logo-carrousel__item {
      padding: 0 $spacer-sm;

      img {
        width: 100%;
        max-width: 300px;
      }
    }
  }
}


// Cover behavior for image, video, slider and carrousel

.content-layout--one-column.content-layout--render-wide {
  .content-item--embed-image:not(.content-item--slider *),
  .content-item--embed-video:not(.content-item--slider *),
  .content-item--slider,
  .content-item--logo-carrousel {
    margin-left: -15px;
    margin-right: -15px;
  }
}