//////////////////////////////
//  Drupal system messages  //
//////////////////////////////

.status-message {
  @extend .alert;
  margin-top: $spacer-md;
  margin-bottom: $spacer-md;
}

.status-message--error {
  @include alert-variant($danger, shade-color($danger, 30%), shade-color($danger, 30%));
}

.status-message--warning {
  @include alert-variant($warning, shade-color($warning, 30%), shade-color($warning, 30%));
}

.status-message--status {
  @include alert-variant($success, shade-color($success, 30%), shade-color($success, 30%));
}


//////////////////////////////
//  Local tasks bar styles  //
//////////////////////////////

.block--local-tasks-block {
  @include m3-container;
  margin-bottom: 40px;

  ul {
    @extend .nav, .nav-tabs;
    margin-top: 20px;

    li {
      @extend .nav-item;

      a {
        @extend .nav-link;
      }
    }

    .is-active {
      @extend .active;
    }
  }
}