/////////////////////////
//  Styles for footer  //
/////////////////////////

.footer {
  & > div {
    border-top: 1px dashed $secondary;
  }
}

.footer__inner-wrapper {
  @include m3-container;
  padding-top: $spacer-sm;
  padding-bottom: $spacer-sm;
}

.footer__upper-row {
  @include m3-row;
}

.footer__main-column {
  @include m3-col(9,'md');
}

.footer__side-column {
  @include m3-col(3,'md');
}

.footer__lower-row {
  display: flex;
}

.index__wrapper {
  @include m3-container;
}


// Footer Index
.index {
  @include m3-row;
}

.block--system-menu-blockfooter {
  ul {
    @extend .nav;
    justify-content: space-between;

    ul {
      justify-content: normal;
      flex-direction: column;
    }
  }

  li {
    @extend .nav-item;
  }

  a {
    @extend .nav-link, %m3-body;
    color: $primary;
  }

  .menu-level-1 {
    a {
      @extend %m3-label;
      color: $light;
    }
  }
}

.block--system-menu-blockfooter-featured {
  ul {
    @extend .nav;
    flex-direction: column;
  }

  li {
    @extend .nav-item;
    margin-bottom: 20px;
  }

  a {
    @extend .nav-link, .btn;
    background: $m3-gray-500;
    color: $light;
  }
}


// Signature
.signature__wrapper {
  @include m3-container;
}

.signature {
  @include m3-row;
}

.block--footer-copyright {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@include media-breakpoint-only(xs) {
  .signature {
    .block {
      padding-bottom: 20px;
    }
  }
}