//////////////////////////////////////////////
//  Global styles for infographic elements  //
//////////////////////////////////////////////

.infographic__wrapper {}

.infographic {
  position: relative;
}

.infographic__background-layer {
  img {
    width: 100%;
  }
}

.infographic__overlay-layer {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
}

.infographic__content-layer {
  position: relative;
}

.infographic-element {
  display: block;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 18%;
  height: 18%;
  position: absolute;
  outline: none !important;
}

// .infographic-element--desktop {}

.infographic-element--mobile {
  display: none;
  position: relative;
  width: 100%;
  height: auto;
  padding: $spacer-sm $spacer-sm;

  img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

.infographic-element__modal {
  position: fixed;

  .modal-dialog {
    max-width: unset;
    margin: 0;
  }

  .modal-content {
    @extend %m3-text-styled;
    border: none;
  }

  .close {
    opacity: 1;
  }

  .button-close {
    position: relative;
    top: unset;
    right: unset;
  }
}

@include media-breakpoint-down(sm) {
  .infographic-element--desktop,
  .infographic__overlay-layer,
  .infographic__background-layer img {
    display: none;
  }

  .infographic-element--mobile {
    display: block;
  }
}