//////////////////////////////////
//  Styles for navigation menu  //
//////////////////////////////////

.navbar__wrapper {
  @extend .navbar-collapse;
  flex-direction: column;
  align-items: flex-end;
}
  
.navbar__wrapper,
.navbar__toggler {
  transition: transform 0.3s, opacity 0.3s;
  opacity: 1;
}

.navbar__elements {
  width: 100%;
}

.navbar__row:not(:last-child) {
  margin-bottom: $spacer-sm;
}

.navbar__toggler {
  position: absolute;
  right: $spacer-sm;
}

.navbar-toggler {
  background-color: $m3-light;
}

.taskbar__wrapper,
.navigation__wrapper {
  width: 100%;
}

.taskbar,
.navigation {
  @extend .navbar-nav;
  justify-content: flex-end;
  align-items: center;
  margin-right: auto;

  .block {
    @extend .nav-item;
  }
}

.block--system-menu-blockmain,
.block--system-menu-blockaccount {
  ul {
    @extend .nav;

    li {
      @extend .nav-item;

      a {
        @extend %m3-link;
        color: $m3-gray-500;
        text-decoration: none;
        padding-right: $spacer-sm;
        transition: color 0.2s;
      }

      a:hover {
        color: $m3-gray-900;
        text-decoration: none;
      }
    }
  }
}

.navigation__search-button {
  @extend %m3-circle-button;

  .icon {
    @include iconize('fa-search', 20px);
  }
}


// Submenu togglers and lists
%submenu-floating-box {
  @include border-rounded;
  position: absolute;
  top: 130%;
  width: 100%;
  min-width: $m3-pop-up-menu-min-width;
  box-sizing: border-box;
  padding: ($spacer-md / 2) $spacer-sm;
  background-color: $m3-light;
  box-shadow: 0 $spacer-xs $spacer-xs 0 rgba($m3-dark, 0.24);
  pointer-events: none;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.2s, transform 0.3s;
  flex-direction: column;

  .menu__item,
  ul li {
    a {
      padding: $spacer-xxs ($spacer-xs / 2);
      display: block;
      @include border-rounded;

      &:after {
        display: none;
      }

      &:hover {
        background-color: $m3-gray-200;
      }

      &.is-active {
        background-color: rgba($m3-gray-200, 0.5);
      }
    }

    &:not(:last-child) a {
      padding-bottom: $spacer-xxs;
    }
  }
}

%main-menu-button {
  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    box-sizing: content-box;
    top: ($spacer-sm * -1) - 2px;
    background-color: $m3-gray-200;
    padding: $spacer-sm 0;
    padding-bottom: $spacer-sm - 2px;
    border-radius: 0;
    transform: scaleY(10%) translateY(500%);
    opacity: 0;
    transition: opacity 0.2s, transform 0.2s, border-radius 0.2s;
  }

  &.is-active {
    &:after {
      opacity: 0.5;
    }
  }
}

.block--system-menu-blockmain .menu {
  .menu__item {
    position: relative;
    margin-left: $spacer-xxs / 2;
    margin-right: $spacer-xxs / 2;

    & > a {
      @extend %main-menu-button;
      position: relative;
      padding-left: $spacer-md / 2;
      padding-right: $spacer-md / 2;      
    }

    &:hover {
      & > a:after {
        opacity: 1;
        transform: translateY(2px) scaleY(1);
        border-top-left-radius: $m3-roundness-hard;
        border-top-right-radius: $m3-roundness-hard;
      }
    }
  }

  .menu__submenu {
    @extend %submenu-floating-box;
  }

  .menu__submenu-toggler {
    @include preppendIcon('fa-chevron-down', $spacer-sm);
    padding-right: $spacer-md + $spacer-sm !important;

    &::before {
      transition: transform 0.2s;
      right: $spacer-sm;
    }
    
    &.is-open {
      z-index: 1;

      &::after {
        opacity: 1;
        transform: translateY(2px) scaleY(1);
        border-top-left-radius: $m3-roundness-hard;
        border-top-right-radius: $m3-roundness-hard;
      }

      &::before {
        transform: rotate(180deg);
      }

      & + .menu__submenu {
        z-index: 2;
        pointer-events: all;
        opacity: 1;
        transform: translateY(0);
      }
    }
  }
}


// Responsive
@include media-breakpoint-down(md) {
  .navbar__wrapper {
    position: fixed;
    right: 0;
    width: 55vw;
    height: 100vh;
    top: 0;
    pointer-events: none;
    transform: translateY(0) !important;
    overflow: hidden;

    .navbar__elements {
      width: 100%;
      height: 100%;
      padding: $spacer-md;
      padding-top: $spacer-xl;
      background-color: $m3-light;
      border-left: 3px solid $m3-gray-100;
      pointer-events: all;
      transition: transform 0.3s;
      transform: translateX(100%);

      .taskbar,
      .navigation {
        justify-content: flex-start;
        align-items: flex-start;

        .block {
          padding-bottom: $spacer-sm;
        }

        .language-switcher {
          position: absolute;
          top: $spacer-sm;
          right: $spacer-sm;
        }

        .block--search-button {
          position: absolute;
          top: 25px;
          left: $spacer-sm;
        }
      }
    }
  }

  .navbar__wrapper.is-expanded {
    .navbar__elements {
      transform: translateX(0%);
    }
  }

  .block--system-menu-blockmain {
    ul {
      -ms-flex-direction: column !important;
      flex-direction: column !important;

      li {
        padding-bottom: 10px;

        a {
          font-size: $t-05;
        }
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .navbar__wrapper {
    width: 75vw;
  }
}

@include media-breakpoint-only(xs) {
  .navbar__wrapper {
    width: 95vw;
  }
}