///////////////////////////////////
//  Content nodes common styles  //
///////////////////////////////////

.node {
  .content__title-h {
    @extend %m3-title-lg;
    margin: 0;
  }

  .content__description {
    @extend %m3-featured;
    margin-right: 5%;
    margin-bottom: $spacer-md;
    color: $m3-gray-400;

    a {
      @extend %m3-link;
    }
  }
  
  .content__labels {
    max-width: $m3-labels-column-max-width;
    margin-bottom: $spacer-sm;

    .field-content-topics {
      display: inline;
    }
  
    .field-content-topics__item {
      margin-bottom: $spacer-sm;
      display: inline-block;
      
      a {
        @extend %m3-tag-button;
        display: inline-block;
      }
    }

    .field-resource-type,
    .field-blog-post-type,
    .field-profile-type {
      margin-bottom: $spacer-sm;
      display: inline-block;

      a {
        @extend %m3-tag-button;
        display: inline-block;
      }
    }
  }

  .content__intro,
  .content__content {
    @extend %m3-text-styled;
  }
}
