//////////////////////////////////////
//  Styles for the page full nodes  //
//////////////////////////////////////

.node--page--full,
.node--page--content {
  .content__header {
    @include make-container;
    background-color: $m3-gray-100;
    padding-top: $spacer-lg;
    padding-bottom: $spacer-lg;
  }

  .content__title {
    @include m3-container;
    margin-bottom: $spacer-md;
  }

  .content__intro {
    @include m3-container;
  }

  .content__intro-row {
    @include m3-row;
    flex-direction: column-reverse;
  }

  .content__brief {
    @extend %m3-featured;
    @include m3-col(6,'md');
    margin-bottom: $spacer-md;
  }

  .content__featured-image {
    @include m3-col(6,'md');
    margin-bottom: $spacer-md;
    max-width: unset;

    img {
      @include m3-img-fluid;
    }
  }

  .content__content-table {
    @include m3-container;

    .content-table__label {
      @extend %m3-body;
    }

    .content-table__table {
      ul {
        @extend .nav;
      }

      li {
        @extend .nav-item;
      }

      a {
        @extend .nav-link, %m3-body;
        padding-left: 0;
      }
    }
  }

  .content__content {
    margin-top: $spacer-xxl;
  }

  .content__footer {
    margin-top: $spacer-xxl;
  }

  .content__related {
    @include m3-container;
  }

  .field-related-pages {
    @include m3-row;
  }

  .field-related-pages__item {
    @include m3-col(6, lg);
    padding-bottom: $spacer-lg;

    .node--card {
      display: flex;
      justify-content: center;
    }
  }
}


// Responsive styles

@include media-breakpoint-down(md) {
  .node--page--full,
  .node--page--content {
    .content__footer {
      &:before {
        height: 75%;
      }
    }
  }
}