/////////////////////////////////////////
//  Styles for the profile full nodes  //
/////////////////////////////////////////

.node--profile--full {
  .content__header {
    @include m3-container;
  }

  .content__title {
    margin-top: $spacer-md;
    margin-bottom: $spacer-md;
  }

  .content__title-h {
    @extend %m3-title-lg;
  }
}