//////////////////////////////////////////////////////
//  Styles for the resources-collection full nodes  //
//////////////////////////////////////////////////////

.node--resource_collection--full {
  .content__header {
    @extend %m3-indented-column;
    @include m3-container;
  }

  .content__title {
    margin-top: $spacer-md;
    margin-bottom: $spacer-md;
  }

  .content__title-h {
    @extend %m3-title-lg;
  }

  .content__brief {
    @extend %m3-featured, %m3-indented-column;
    @include m3-container;
    margin-bottom: $spacer-md;
  }
  
  .content__content {
    @extend %m3-indented-column;
    @include m3-container;
    margin-bottom: $spacer-md;
  }

  .content__resources {
    @include m3-container;

    .field-resources {
      @include m3-row;
      justify-content: center;
    }

    .field-resources__item {
      @include m3-col(6,'md');
      @include m3-col(4,'lg');
      margin-bottom: $spacer-md;
    }
  }
}