/////////////////////////////////////
//  Styles for the resources view  //
/////////////////////////////////////

.page--resources {
  @extend .m3-view;

  .content__wrapper {
    .view__exposed {
      padding-top: 40px;
      background-color: $m3-gray-100;

      .form-item-search-api-fulltext {
        @include m3-col(12,'sm');
      }

      .form-item-sort-order {
        display: none;
      } 
    
      .form-actions {
        @include m3-col(12);
        @include m3-col(4,'xl');
      }

      .advanced-search-link {
        @include m3-col(12);
      }
    }
  }
}