///////////////////////////////////////////
//  Styles for the Blog post full nodes  //
///////////////////////////////////////////

.node--resource--full {
  .content__header {
    @extend %m3-indented-column;
    @include m3-container;
  }

  .content__title {
    margin-top: $spacer-md;
    margin-bottom: $spacer-md;
  }

  .content__title-h {
    @extend %m3-title-lg;
  }

  .content__brief {
    @extend %m3-featured, %m3-indented-column;
    @include m3-container;
    margin-bottom: $spacer-md;
  }
  
  .content__files {
    @extend %m3-indented-column;
    @include m3-container;
    margin-bottom: $spacer-xxl;

    .field-resource-files {

      .field-resource-files__item {
        margin-bottom: $spacer-sm;

        a {
          @extend %m3-link;
          @include appendIcon('fa-file-download', 25px);
        }

        .file--mime-application-zip a {
          @include appendIcon('fa-file-archive', 25px);
        }
      }
    }
  }
}