///////////////////////////////////////
//  Styles for the search view page  //
///////////////////////////////////////

.search-view--page {

  .view__exposed {
    @include m3-container;

    .form__container {
      @extend %m3-rounded-border;
    }
  
    .views-exposed-form {
      @include m3-row;
    }
  
    .form-item {
      @include m3-col;
    }
  
    .form-item-content-type,
    .form-item-keys,
    .form-item-search-api-fulltext {
      @include m3-col(6, 'md');
    }
  
    .form-item-langcode,
    .form-item-search-api-language,
    .form-item-sort-by,
    .form-item-sort-order {
      @include m3-col(4, 'md');
    }
    
    .form-actions {
      @include m3-col(12);
    }
  }
}