////////////////////////////////////////
//  Styles for the search view block  //
////////////////////////////////////////

.search-view--block {
  height: 100%;
  position: relative;

  .view__exposed {
    @include make-container;
    padding-top: $spacer-md;
    padding-bottom: $spacer-sm;
    border-bottom: 2px solid $m3-gray-300;
    position: absolute;
    top: 0;
    z-index: 3;

    .form__container {
      margin: 0;
    }

    .views-exposed-form {
      @include m3-row;
      align-items: flex-end;
    }

    .form-item-search-api-fulltext {
      @include m3-col(7,'md');
      @include m3-col(8,'lg');
    }

    .form-actions {
      @include m3-col(5,'md');
      @include m3-col(4,'lg');

      .form-submit {
        @extend %m3-standard-button;
      }
    }
  }

  .view__content {
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 160px;
    padding-bottom: 104px;
    max-width: unset;

    .view__content-inner {
      height: 100%;
      overflow: auto;

      .node--teaser {
        overflow: hidden;
      }
    }
  }

  & > footer {
    width: 100%;
    border-top: 2px solid $m3-gray-300;
    background-color: $light;
    position: absolute;
    bottom: 0;
    padding: $spacer-md;

    .advanced-search-link {
      @extend %m3-cta-button;
      width: 100%;
      text-align: center;
    }
  }
}

.modal--views-blocksearch-block {
  padding: 0;

  .block--views-blocksearch-block {
    height: 100%;

    .block__content {
      height: 100%;

      & > div {
        height: 100%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .search-view--block {
    .view__exposed {
      .form-actions {
        .form-submit {
          margin-top: $spacer-xs;
          margin-bottom: $spacer-xs;
        }
      }
    }

    .view__content {
      padding-top: 248px;
    }
  }
}