///////////////////////////////////////////
//  Styles for the social networks menu  //
///////////////////////////////////////////

.block--system-menu-blocksocial-networks {
  ul {
    @extend .nav;
  }

  li {
    @extend .nav-item;
  }

  li:not(:last-child) {
    margin-right: $spacer-sm;
  }

  .facebook {
    @include m3-icon-button('fa-facebook-square', $t-05, 'fab');
  }

  .twitter {
    @include m3-icon-button('fa-twitter', $t-05, 'fab');
  }

  .instagram {
    @include m3-icon-button('fa-instagram', $t-05, 'fab');
  }

  .youtube {
    @include m3-icon-button('fa-youtube', $t-05, 'fab');
  }

  .linkedin {
    @include m3-icon-button('fa-linkedin', $t-05, 'fab');
  }
}