@import "wrappers/m3-bootstrap";

// Variables
@import "variables/parameters";
@import "variables/text-sizes";
@import "variables/color";
@import "variables/spacers";
@import "variables/layout";

// Mixins
@import "mixins/layout";
@import "mixins/ui";
@import "mixins/icon";
@import "mixins/animation";
@import "mixins/style";

@import "libraries/text-styles";

// @import "wrappers/m3-fontawesome";

.test {
  .test-2 {
    @extend %m3-title-lg;
    background-color: blue;
  
    .test-4 {
      @extend %m3-title-lg;
    }
  }
}

.test-3 {
  @extend %m3-title-lg;
  color: red;
}