///////////////////////////////
//  Common styles for views  //
///////////////////////////////

// Drupal card columns extended behavior
.card-columns {
  @include media-breakpoint-down(md) {
    column-count: 2;
  }

  @include media-breakpoint-only(xs) {
    column-count: 1;
  }
}

// Height normalizer for cards in views
%view-card-height-normalizer {
  .views-row {
    @extend %m3-card-socket, %m3-card-socket--content-card;
    position: relative;
  }

  .node--card,
  .card-link,
  .content-card {
    height: 100%;
  }

  .content-card {
    @extend %content-card--regular;
  }
}

// Standard view styles
.m3-view {
  .block--page-title-block {
    position: relative;
    background-color: $m3-gray-100;
    padding-top: $spacer-xl;
    padding-bottom: $spacer-md;
    color: $primary;

    .block__content {
      @include m3-container;
      padding: 0;
    }

    h1 {
      @extend %m3-title-lg;
      margin: 0;
    }
  }

  .content__wrapper {
    .view__exposed {
      background-color: $m3-gray-100;
      padding-top: $spacer-md;
      padding-bottom: $spacer-xl;
      position: relative;
  
      .views-exposed-form {
        @include m3-row;
        align-items: flex-end;
      }

      .form-item {
        @include m3-col;
      }
    }

    .view__content {
      padding-top: $spacer-md;
      padding-bottom: $spacer-xl;
    }

    .view__content-inner {
      @extend %view-card-height-normalizer;
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      grid-gap: $spacer-md;
    }
  }
}

@include media-breakpoint-down(md) {
  .m3-view {
    .content__wrapper {
      .view__content-inner {
        grid-template-columns: repeat(2, minmax(0, 1fr));
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  .m3-view {
    .block--page-title-block {
      padding-left: $spacer-sm;
      padding-right: $spacer-sm;
    }

    .content__wrapper {
      .view__content-inner {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
    }
  }
}

@include media-breakpoint-only(xs) {
  .m3-view {
    .content__wrapper {
      .view__exposed {
        padding-left: $spacer-sm;
        padding-right: $spacer-sm;
      }
    }
  }
}