/////////////////////////////////
//  Styles for the main block  //
/////////////////////////////////

@import "wrappers/m3-core--dev";

.system__wrapper {
  @include m3-container;
}

.main {
  padding-top: $m3-header-offset;
  padding-bottom: $m3-footer-offset;
  min-height: 100vh;
}

.footer {
  margin-top: -1 * $m3-footer-offset;
}

@include media-breakpoint-down(sm) {
  .main {
    padding-top: $m3-header-offset--mobile;
    padding-bottom: $m3-footer-offset--mobile;
  }

  .footer {
    margin-top: -1 * $m3-footer-offset--mobile;
  }
}